body {
    font-family: 'Roboto';
}

.header, .hero{
    color: #F9FAF8;
    background-color: #1F2937;
  
}

.header {
    font-size: 24px;    
    display: flex;
    justify-content: space-around;
    margin-bottom: -22px;
}

.header-links {
    font-size: 18px;    
    color: #e5e7eb;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    gap: 30px;
}

#hero-main {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    max-width: 450px;
}

.hero-right {
    display: flex;
    flex: 1;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: gray;
}

button {
    align-self: flex-start;
    border-radius: 10px;
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    padding: 5px 25px;
}

#hero-sub {
    font-size: 18px;
    color: #e5e7eb;    
}

#info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 50px;
}

.image-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 100px;
}

.image-info {
    max-width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.empty-image {
    border: 1px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
